<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gd.order.mapper.GdDcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gd.order.entity.GdDc">
        <id column="did" property="did" />
        <result column="orderid" property="orderid" />
        <result column="pid" property="pid" />
        <result column="score" property="score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        did, orderid, pid, score
    </sql>

    <select id="queryDc" resultType="org.fresh.gd.commons.consts.pojo.dto.order.GdDcDTO">
        select * from gd_dc d,gd_dc_man m
        <where>
            d.pid=m.pid
            <if test="pid !=null and pid !=null">
                and d.pid=#{pid}
            </if>
            <if test="orderid !=null and orderid !=null">
                and d.orderid=#{orderid}
            </if>
            <if test="pname !=null and pname !=null">
                and m.pname=#{pname}
            </if>
            <if test="score !=null and score !=null">
                and d.score=#{score}
            </if>
        </where>
    </select>
</mapper>
